<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DELETE - Practica Web (Bases de Datos) en SpringBoot con MVC</title>
  <link rel="stylesheet" href="/CSS/styles.css">
</head>
<body>
  <header>
    <p class="left">&lt; HPED &gt;</p>
    <h1 class="center">Práctica Web - Spring Boot - SQL</h1>
    <p class="right">Marzo 29, 2026</p>
  </header>
  <main>
    <section class="top_center">
      <p>Primer versión de la implementación de <b>Spring Boot</b> con el <b>modelo MVC</b>, y conexiones a DB.</p>
    </section>
    <section class="middle_center">
      <p class="form_top">Ingresa los datos que se te solicitan a continuación:</p>

      <div class="form_insert">
        <form th:action="@{/eliminar-alumno}" method="post">
          <table>
            <tr>
              <th>Código:</th>
              <td><input type="number" name="codigo" id="coudeg" min="0"></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Eliminar Estudiante" id="eliminarEstudiante"></td>
            </tr>
            <tr>
              <td><a href="../index.html" id="backMenu">Volver al menú.</a></td>
            </tr>
          </table>
        </form>
      </div>

    </section>
  </main>
  <footer>
    <ul>
      <li>Hernández Pérez, Edgar Daniel - 221770108 - Universidad de Guadalajara</li>
      <li>
        <a href="https://github.com/HPED-SP11" target="_blank">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://gitlab.com/hped" target="_blank">
          <i class="bi bi-gitlab"></i>
        </a>
        <a href="https://www.linkedin.com/in/edgar-perez-hped" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://bsky.app/profile/hped.bsky.social" target="_blank">
          <i class="bi bi-bluesky"></i>
        </a>
      </li>
    </ul>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/static/JS/alerts.js" type="module"></script>
</body>
</html>