<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Vista de Alumnos - CRUD Básico en SpringBoot | Programación Web 2026A</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/CSS/styles_table.css}"/>
</head>
<body>
 <header>
   <nav class="navbar  navbar-expand-lg border-bottom border-body" data-bs-theme="dark" style="background-color: #000;">
     <div class="container-fluid">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
         <a class="navbar-brand" href="#"><img th:src="@{/Images/HPED_Logo.svg}" alt="&lt; HPED &gt;" class="logotipo"></img></a>
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" th:href="@{/lista}">LISTA DE ALUMNOS</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" th:href="@{/insert}">INSERT</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" th:href="@{/select}">SELECT</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" th:href="@{/update}">UPDATE</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" th:href="@{/delete}">DELETE</a>
           </li>
         </ul>
         <div class="d-flex">
           <span class="navbar-text">Programación Web 2026A</span>
           <button class="btn btn-outline-success btn-nvoAlumno" type="submit">Añadir Alumno<i class="bi bi-plus-circle-fill"></i></button>
           <button class="btn btn-outline-success btn-cerrar" type="button"><i class="bi bi-box-arrow-left"></i></button>
         </div>
       </div>
     </div>
   </nav>
 </header>
  <main>
    <div class="modal-lista">
      <div class="title">
        <h1>Lista de gestión de alumnos</h1>
        <hr class="separator">
      </div>
      <table class="tabla-alumnos">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Domicilio</th>
            <th style="text-align: center;">Acciones</th></tr>
          </tr>
        </thead>
        <tbody>
          <tr th:each="al : ${alumnos}">
            <td class="col-codigo" th:text="${al.codigo}">0</td>
            <td th:text="${al.nombre}">Nombre del Alumno</td>
            <td th:text="${al.domicilio}">Domicilio del Alumno</td>
            <td class="text-center">
              <button type="submit" class="boton-editar" title="Editar">
                <i class="bi bi-pencil-square"></i>
              </button>
              <form th:action="@{/delete/eliminar}" method="post" style="display: inline;">
                <input type="hidden" name="codigo" th:value="${al.codigo}" />
                <input type="hidden" name="from" value="/lista" />
                <button type="submit" class="boton-borrar" title="Eliminar" onclick="return confirm('¿Eliminar alumno?')">
                  <i class="bi bi-trash"></i>
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-overlay" id="modal-nombre" th:classappend="${showModal} ? 'active' : ''">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Actualizar Datos</h3>
          <span class="close-btn"><i class="bi bi-x-lg"></i></span>
        </div>
        <form id="form-nombre" th:action="@{/update/guardar}" th:object="${alumno}" method="POST">
          <input type="hidden" name="from" value="/lista" />

          <label>Código (No editable):</label>
          <input type="text" th:field="*{codigo}" class="input-name" readonly/>

          <label>Nombre:</label>
          <input type="text" th:field="*{nombre}" placeholder="Ej. HPED Dev" class="input-name"/>

          <label>Domicilio:</label>
          <input type="text" th:field="*{domicilio}" class="input-name"/>

          <p id="error-nombre" class="error-msg"></p>

          <button type="submit" id="btn-save-nombre" class="btn_Guardar">
            Guardar Cambios
          </button>
        </form>
      </div>
    </div>
    <div class="hped-overlay" id="modal-nvo">
      <div class="hped-modal">
        <div class="hped-header">
          <h3>Registrar Estudiante</h3>
          <span class="close-btn"><i class="bi bi-x-lg"></i></span>
        </div>
        <form id="form-nvo" th:action="@{/insert/nuevoAlumno}" th:object="${alumno}" method="POST">
          <input type="hidden" name="from" value="/lista" />

          <label for="nvo-codigo">Código de estudiante:</label>
          <input type="number" id="nvo-codigo" name="codigo" placeholder="123456789" class="input-name" required/>

          <label for="nvo-nombre">Nombre completo:</label>
          <input type="text" id="nvo-nombre" name="nombre" placeholder="Ej. Edgar Hernández" class="input-name" required/>

          <label for="nvo-domicilio">Domicilio:</label>
          <input type="text" id="nvo-domicilio" name="domicilio" placeholder="Ej. Tonalá, Jalisco" class="input-name" required/>

          <p id="error-nvoAlumno" class="error-msg"></p>

          <button type="submit" id="btn-save-alumno" class="btn_Guardar">
            Guardar nuevo alumno
          </button>
        </form>
      </div>
    </div>
  </main>
   <footer>
     <ul>
       <li>Hernández Pérez, Edgar Daniel - 221770108 - Universidad de Guadalajara</li>
       <li>
         <a href="https://github.com/HPED-SP11" target="_blank">
           <i class="bi bi-github"></i>
         </a>
         <a href="https://gitlab.com/hped" target="_blank">
           <i class="bi bi-gitlab"></i>
         </a>
         <a href="https://www.linkedin.com/in/edgar-perez-hped" target="_blank">
           <i class="bi bi-linkedin"></i>
         </a>
         <a href="https://bsky.app/profile/hped.bsky.social" target="_blank">
           <i class="bi bi-bluesky"></i>
         </a>
       </li>
     </ul>
   </footer>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script th:src="@{/JS/crudScripts.js}"></script>
</body>
</html>